@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 35, 37, 38;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 37, 38;
    --background-end-rgb: 35, 37, 38;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.css-selector {
  background: linear-gradient(270deg, #ffa17f, #00223e);
  background-size: 400% 400%;

  -webkit-animation: fujixsan-gradient 18s ease infinite;
  -moz-animation: fujixsan-gradient 18s ease infinite;
  animation: fujixsan-gradient 18s ease infinite;
}

@-webkit-keyframes fujixsan-gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes fujixsan-gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes fujixsan-gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.vl {
  border-left: 2px solid white;
  height: 30px;
}

.react-pdf__Page__textContent textLayer {
  background-color: transparent !important;
}